
services:
  auth_service:
    build: ./services/auth_service
    container_name: auth_service
    ports:
      - "5001:5001"
    environment:
      - AUTH_SECRET=supersecret
    volumes:
      - ./services/auth_service/auth.db:/app/auth.db

  lease_service:
    build: ./services/lease_service
    container_name: lease_service
    ports:
      - "5002:5002"
    environment:
      - RKI_BASE_URL=http://rki_service:5005
      - LEASE_DB_PATH=/app/lease.db
    volumes:
      - ./services/lease_service/lease.db:/app/lease.db

  damage_service:
    build: ./services/damage_service
    container_name: damage_service
    ports:
      - "5003:5003"
    volumes:
      - ./services/damage_service/damage.db:/app/damage.db

  reporting_service:
    build: ./services/reporting_service
    container_name: reporting_service
    ports:
      - "5004:5004"
    environment:
      - GATEWAY_BASE_URL=http://gateway:8000
    # vigtigst: INGEN depends_on til gateway, ellers cycle

  rki_service:
     build: ./services/rki_service
     container_name: rki_service
     ports:
      - "5005:5005"


  gateway:
    build: ./gateway
    container_name: gateway
    ports:
      - "8000:8000"
    environment:
      # Gateway kalder nu hostens porter, som er mapped til containerne
      - AUTH_BASE_URL=http://host.docker.internal:5001
      - LEASE_BASE_URL=http://host.docker.internal:5002
      - DAMAGE_BASE_URL=http://host.docker.internal:5003
      - REPORT_BASE_URL=http://host.docker.internal:5004
      - RKI_BASE_URL=http://host.docker.internal:5005
      - AUTH_SECRET=supersecret
    depends_on:
      - auth_service
      - lease_service
      - damage_service
      - reporting_service
      - rki_service


  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "8501:8501"
    environment:
      - GATEWAY_BASE_URL=http://gateway:8000
    depends_on:
      - gateway
